<%- include('inc/header') %>
<%- include('inc/navbar') %>

<div class="container w-100">
    <h1 class="h1 text-center w-100">Valider le challenge</h1>
    <div class="col-md-4 offset-4">
        <form action="/validate" method="post">
            <label class="form-label" for="flag">Flag:</label>
            <input class="form-control" type="text" id="flag" name="flag">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <button type="submit" class="btn btn-primary my-2">Valider le challenge</button>
        </form>
    </div>

    <% if (typeof msg !== 'undefined') { %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

</div>

<%- include('inc/footer') %>
